<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if user_signed_in? %> 
    <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <% else %>
    <%= button_to "Sign in", new_user_session_path %> 
    <% end %>

    <h1> DirectShifts Referral App! </h1>

    <%= link_to "Click on send new referral email", new_referral_path %>

    <h2>You referred below users:</h2>
    <h3>Users with pending invite:</h3>
    <% @referrals.each do |referral| %>
        <%= referral.email %><br/>
    <% end %>
    <h3>Users who subscribed via your invite:</h3>
    <% @referred_subscribers.each do |subscriber| %>
        <%= subscriber.email %><br/>
    <% end %>
  </body>
</html>
